*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
}
h1{
    color: floralwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 200px 200px 0px  200px;

}



#start{
    padding: 20px;
    color: black;
    background-color: white;
    border: 2px solid cyan;
    border-radius: 16px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0px 0px 550px;
    box-shadow: ;
}
#stop{
    padding: 20px;
    color: black;
    background-color: white;
    border: 2px solid cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 16px ; 
}